body {
  color: white;
}
body {
  background-color: #242c40;
}
nav {
  background-color: rgb(40, 40, 40);
}
.role {
  color: #9db2bf;
}

nav ul li a:hover {
  color: #9db2bf;
  cursor: pointer;
}

nav ul li a {
  color: white;
}

.name {
  color: rgb(255, 3, 53);
}

main hr {
  background: rgb(255, 255, 255);
}
footer {
  background-color: rgb(40, 40, 40);
}

.footer-div li a {
  color: #dde6ed;
}

footer .copyright {
  color: gray;
}

.btn div {
  border-color: #526d82;
  background-color: #4ea3e4;
}

.btn div:hover {
  background-color: #1491f0;
  cursor: pointer;
}
